/*
 * CSS for blog
 */

body {
    background-color: #EEE;
    color: #333;
    font-family: Palatino, Georgia, Times, serif;
    font-size: 1.1em;
    line-height: 1.6em;
}

a {
    color: #833;
}

a:hover {
    color: #C33;
}

div.main {
    margin: auto;
    width: 900px;
}

.header {
    text-align: center;
    height: 100px;
    min-width: 400px;
    margin: 0 auto;
}

.nav {
    float: right;
    margin: 20px 10px;
}

.nav > a {
    display: block;
    clear: both;
}

.content {
    width: 480px;
    margin: 0 auto 20px auto;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
}

.content > p {
    text-align: justify;
    margin: 20px 0;
}

div.post {
    margin: 20px 0;
}

div.post + div.post {
    margin-top: 40px;
    padding-top: 10px;
    border-top: 1px solid #888;
}